* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-display: 'robotoM';
    src: url(../fonts/Roboto-Black.ttf);
}

body {
    /**background-image: url(../images/background.jpg);**/
    background-color: #e0e0e0;
}

body header a#tituloLogin {
    font-family: roboto;
}

body section div.section {
    padding-top: 4%;
}

body section form div.row button#login {
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    border: 0px solid #000000;
}

body section h5 {
    font-family: roboto;
}

body section div.row div#piechart_3d {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-bottom: -3%
}